/* default */
@font-face {
	font-family: 'Montauk';
	src: 
        url('../fonts/Montauk-Regular.ttf') 
        format('truetype');
}
/* bold */
@font-face {
	font-family: 'Montauk';
	src: 
        url('../fonts/Montauk-Bold.ttf') 
        format('truetype');
	font-weight: bold;
}
/* italic */
@font-face {
	font-family: 'Montauk';
	src: 
        url('../fonts/Montauk-Italic.ttf') 
        format('truetype');
    font-style: italic;
}
/* light */
@font-face {
	font-family: 'Montauk';
	src: 
        url('../fonts/Montauk-Light.ttf') 
        format('truetype');
	font-weight: lighter;
}