/* default */
@font-face {
	font-family: 'TimeBurner';
	src: 
        url('../fonts/timeburnernormal.ttf') 
        format('truetype');
}
/* bold */
@font-face {
	font-family: 'TimeBurner';
	src: 
        url('../fonts/timeburnerbold.ttf') 
        format('truetype');
	font-weight: bold;
}